form {
    display: flex;
    flex-direction: column;
}
.error {
  color: red;
}
.error-msg {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -2em;
}
.has-error {
    color: red !important;
}